@media (max-width: $screen-xs-max) {}

@media (max-width: $screen-sm-max) {
    .felx-menu {
        width: 100%;
        margin: 0 auto;
    }
    .navbar-brand {
        float: left;
        padding: 10px 14px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        width: 76px;
        margin-right: -6px; 
    }
   
}

@media (max-width: $screen-md-max) {

  
}

@media screen and (min-width: 768px) {
    .navbar-brand-size {
        display: none
    }
    .top-header {
        display: none;
    }
    .header-brand-in {
        display: none
    }

    .large-sub-cat{
        display: block;

    }

    .mobile-sub-cat{
        display:none;
    }
}

@media screen and (max-width: 768px) {
    .qwerty {
        display: none;
    }

    .large-sub-cat{
        display: none;

    }

    .mobile-sub-cat{
        display:block
    }
}